<form method="post">
	<div class="mb-3">
		<label for="InputLogin" class="form-label">Логин</label>
		<input type="text" class="form-control" id="InputLogin" aria-describedby="emailHelp" placeholder="укажите логин" name="login">
	</div>
	<div class="mb-3">
		<label for="InputEmail1" class="form-label">Адрес электронной почты</label>
		<input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"  placeholder="укажите email" name="email">
	</div>
	<div class="mb-3">
		<label for="InputPassword1" class="form-label">Пароль</label>
		<input type="password" class="form-control" id="InputPassword1"  placeholder="придумайте пароль" name="pass">
	</div>
	<div class="mb-3">
		<label for="checkInputPassword1" class="form-label">Проверка пароля</label>
		<input type="password" class="form-control" id="checkInputPassword1"   placeholder="повторите пароль" name="checkpass">
	</div>
	<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>