<form method="post">
	<div class="mb-3">
		<label for="InputLogin" class="form-label">Логин</label>
		<input type="text" class="form-control" id="InputLogin" aria-describedby="emailHelp">
	</div>
	<div class="mb-3">
		<label for="InputEmail1" class="form-label">Адрес электронной почты</label>
		<input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
		<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
	</div>
	<div class="mb-3">
		<label for="InputPassword1" class="form-label">Пароль</label>
		<input type="password" class="form-control" id="InputPassword1">
	</div>
	<div class="mb-3">
		<label for="checkInputPassword1" class="form-label">Проверка пароля</label>
		<input type="password" class="form-control" id="checkInputPassword1">
	</div>
	<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>